<!DOCTYPE html>
<html>
    <head>
         <link rel="alternate" type="application/rss+xml" title="RSS Feed for OCaml Labs compiler hacking" href="/compiler-hacking/rss.xml" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/compiler-hacking/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/compiler-hacking/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/compiler-hacking/">{{ site.name }}</a></h1>
            <a class="extra" href="/compiler-hacking/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <a href="https://github.com/ocamllabs/compiler-hacking/wiki">OCaml Labs compiler hacking</a>
          </div>
        </div>

    </body>
</html>
